# Private Data of the Company 
/dataset/solar_system_data/raw
/dataset/solar_system_data/solar_power_data.csv
/dataset/solar_system_data/power_data_inspection.txt
/dataset/dataset.csv
/dataset/train_test_split


/.venv
**/__pycache__/


# Chackpoit models
/FFN/checkpoint

