# Private Data of the Company 
FFN/dataset/solar_system_data/raw
FFN/dataset/solar_system_data/solar_power_data.csv
FFN/dataset/solar_system_data/power_data_inspection.txt
FFN/dataset/dataset.csv
FFN/dataset/train_test_split

/test/groundtruth.csv

.env
/.venv
**/__pycache__/


# Chackpoit models
/FFN/checkpoint

